body{
    margin: 0%;
    padding: 0%;
    background-color: yellow;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% -50%);
    font-size: 150px;
    white-space: nowrap;
}
body{
    margin: 0;
    padding: 0;
    background-color: #cef412;
}